<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1>
    {{ title }}!
  </h1>
  <div>
    <img width="300" style="border-radius:6rem" alt="Angular Logo"
      src="https://scontent.fsod3-1.fna.fbcdn.net/v/t1.0-9/58378491_2256749131058928_2674766745591349248_o.jpg?_nc_cat=105&_nc_oc=AQlLTFc5TSNgoaUMmY_PoSnX0trMEGRN2xGDqQnGN_gttBeobyej02YCGxL1CqspC3k&_nc_ht=scontent.fsod3-1.fna&oh=ab704d0c88ba606ef747ca93742dc8fd&oe=5DED9BBA">
  </div>
  <div>
    <app-eventos></app-eventos>
  </div>
</div>

<router-outlet></router-outlet>